<script setup lang="ts">
import { onMounted } from 'vue';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

let router = useRouter()
let token = localStorage.getItem('token')

let isLoading = ref(true)

interface Article {
    id: number,
    title: string,
    description: string,
}

interface Test {
    id: number,
    name: string,
    description: string,
}

let articles = ref([] as Article[])
let tests = ref([] as Test[])
let testOnConfirm = ref([] as Test[])

const getInfo = async () => {

    isLoading.value = true

    if(!token) {
        router.push('/authorise')
        return
    }

    let response = await fetch('/api/admin_panel', {
        headers: {
            'Authorization': 'Bearer ' + token
        },
        method: 'POST'
    })

    console.log('response', response)

    if(!response.ok){
        router.push('/authorise')
        return
    }

    let json = await response.json()

    if(!json.isAdmin) {
        router.push('/authorise')
        return
    }

    articles.value = json.articles
    tests.value = json.tests
    testOnConfirm.value = json.testsOnConfirm

    console.log(articles.value)

    isLoading.value = false

    console.log(isLoading.value)
}

onMounted(getInfo)

const deleteArticle = async (article_id: number) => {
    let response = await fetch(`/api/article/${article_id}`, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })

    if(response.ok) {
        getInfo()
    }
}

const deleteTest = async (test_id: number) => {
    let response = await fetch(`/api/test/${test_id}`, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })

    if(response.ok) {
        getInfo()
    }
}

const confirmTest = async (test_id: number) => {

    console.log(test_id)

    let response = await fetch(`/api/test/confirm/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify({id: test_id})
    })

    if(response.ok) {
        getInfo()
    }
}

</script>

<template>
    <div class="loading" v-if="isLoading">
        <label>Загрузка...</label>
    </div>
    <div class="admin_panel" v-else>
        <div class="articles">
            <div class="controlls">
                <h1 class="heading">Статьи</h1>
                <button @click="router.push('/admin/article')">Создать статью</button>
            </div>
            <ul>
                <li v-for="article in articles" :key="article.id">
                    <div class="article_block">
                        <div class="article_content" @click="router.push({path: 'article/' + article.id})">
                            <label class="block_name">{{article.title}}</label>
                            <p class="block_description">{{article.description}}</p>
                        </div>
                        <button @click="deleteArticle(article.id)">Удалить</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tests">
            <div class="controlls">
                <h1 class="heading">Тесты</h1>
                <button @click="router.push('/create/test')">Создать тест</button>
            </div>
            <ul>
                <li v-for="test in tests" :key="test.id">
                    <div class="test_block">
                        <div class="test_content" @click="router.push({path: 'test/' + test.id})">
                            <label class="block_name">{{test.name}}</label>
                            <p class="block_description">{{test.description}}</p>
                        </div>
                        <button @click="deleteTest(test.id)">Удалить</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tests">
            <div class="controlls">
                <h1 class="heading">Тесты на подтвержение</h1>
            </div>
            <ul>
                <li v-for="test in testOnConfirm" :key="test.id">
                    <div class="test_block">
                        <div class="test_content" @click="router.push({path: 'test/' + test.id})">
                            <label class="block_name">{{test.name}}</label>
                            <p class="block_description">{{test.description}}</p>
                        </div>
                        <div class="buttons">
                            <button @click="deleteTest(test.id)">Удалить</button>
                            <button @click="confirmTest(test.id)" class="confirm">Подтвердить</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
    .admin_panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        gap: 2rem;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    

    .articles, .tests {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--tird-color);
        border-radius: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        width: 40%;
        height: min-content;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .heading {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: 700;
        cursor: pointer;
    }

    .article_block, .test_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--second-color);
        padding: 1rem;
        border-radius: 1rem;
    }

    .test_block button, .article_block button {
        padding: 0.5rem 1rem;
        background-color: var(--second-color);
        color: var(--fifth-color);
        border: 1px solid var(--fifth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        transition: all 0.2s;
    }

    .test_block button:hover, .article_block button:hover {
        background-color: var(--fifth-color);
        color: var(--second-color);
    }

    .block_name {
        font-weight: 600;
        font-size: 1.2em;
    }

    .block_description {
        opacity: 0.8;
        margin-top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .controlls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .controlls button {
        padding: 0.5rem 1rem;
        background-color: var(--second-color);
        color: var(--sixth-color);
        border: 1px solid var(--sixth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        transition: all 0.2s;
    }

    .controlls button:hover {
        background-color: var(--sixth-color);
        color: var(--second-color);
    }

    .test_content, .article_content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;
    }

    .confirm {
        border-color: var(--sixth-color) !important;
        color: var(--sixth-color) !important;
    }

    .confirm:hover {
        background-color: var(--sixth-color) !important;
        color: var(--second-color) !important;
    }
</style>