<script setup lang="ts">
import { onMounted, ref, computed } from 'vue';
import { useRouter } from 'vue-router';

let router = useRouter()

let token = localStorage.getItem('token')

let isLoading = ref(true)

interface Test {
    name: string,
    description: string,
    image: string,
    questions: {
        description: string,
        answers: {
            description: string,
            score: number
        }[]
    }[],
    results: {description: string, score: number}[]
}

let test = ref({ 
    name: '',
    description: '',
    image: '',
    questions: [{
        description: '',
        answers: [{
            description: '',
            score: 0
        }]
    }],
    results: [{
        description: '',
        score: 0
    }]
 } as Test) 

let isTestValid = computed(() => {
    if(!test.value.name || !test.value.description || !test.value.questions || !test.value.results) {
        return false
    }

    for(let question of test.value.questions) {
        if(!question.description || !question.answers) {
            return false
        }

        for(let answer of question.answers) {
            if(!answer.description || !answer.score.toString() || answer.score < 0) {
                return false
            }
        }
    }

    for(let result of test.value.results) {
        if(!result.description || !result.score.toString() || result.score < 0) {
            return false
        }
    }

    return true
})

onMounted(async () => {
    isLoading.value = false

    if(!token) {
        router.push('/authorise')
        console.log('No token')
        return
    }

    isLoading.value = false
})

const createTest = async () => {
    let response = await fetch('/api/test/create', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify(test.value)
    })

    if(response.ok) {
        router.push('/profile')
    }

}
</script>

<template>  

    <div class="test_container">
        <div class="loading" v-if="isLoading">
            <label>Загрузка...</label>
        </div>

    
        <div class="create_test" v-else>
            <h1>Создание теста</h1>
            <div class="field">
                <label for="name">Название</label>
                <input type="text" name="name" v-model="test.name">
            </div>
            <div class="field">
                <label for="description">Описание</label>
                <input type="text" name="description" v-model="test.description">
            </div>
            <div class="field">
                <label for="image">Изображение</label>
                <input type="text" name="image" v-model="test.image">
            </div>
            <div>
                <img v-if="test.image" :src="test.image" class="image_preview" alt="Изображение не загружено">
            </div>
            
            <h2>Вопросы</h2>
            <div class="question_block" v-for="(_, index) in test.questions" :key="index">
                <div class="question">
                    <label for="question">Вопрос</label>
                    <input type="text" name="question" v-model="test.questions[index].description" placeholder="Вопрос">
                    <button @click="test.questions.splice(index, 1)" class="delete">Удалить вопрос</button>
                </div>
                <div class="answers_block">
                    <div class="answers" v-for="(_, index2) in test.questions[index].answers" :key="index2">
                        <label for="answer">Ответ</label>
                        <input type="text" name="answer" v-model="test.questions[index].answers[index2].description" placeholder="Ответ">
                        <input type="number" name="score" v-model="test.questions[index].answers[index2].score">
                        <button @click="test.questions[index].answers.splice(index2, 1)" class="delete">Х</button>
                    </div>
                    <button @click="test.questions[index].answers.push({description: '', score: 0})" class="add_answer">Добавить ответ</button>
                </div>
                
            </div>
            <button @click="test.questions.push({description: '', answers: [{description: '', score: 0}]})" class="add_question">Добавить вопрос</button>
            <h2>Результаты</h2>
            <div class="results" v-for="(_, index) in test.results" :key="index">
                <label for="result">Результат</label>
                <input type="text" name="result" v-model="test.results[index].description" placeholder="Результат">
                <input type="number" name="score" v-model="test.results[index].score">
                <button @click="test.results.splice(index, 1)" class="delete">Удалить результат</button>
            </div>
            <button @click="test.results.push({description: '', score: 0})" class="add_question">Добавить результат</button>
            <div class="save_container">
                <button @click="createTest()" class="save" :disabled="!isTestValid">Сохранить</button>
            </div>
        </div>
    </div>

    
</template>


<style scoped>
    .create_test {
        display: flex;
        flex-direction: column;
        align-items: flex-center;
        gap: 1.5rem;
        width: 50rem;
    }

    .test_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .create_test input{
        flex-grow: 1;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--first-color);
        transition: 0.2s;
    }

    .create_test input:focus{
        box-shadow: 0 0 0.3rem 0.1rem var(--second-color);
    }

    .field{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }

    h1{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .question_block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .question {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;
        flex: 1;
    }

    .question input{
        flex-grow: 1;
    }

    .delete{
        background-color: transparent;
        border: 1px solid var(--fifth-color);
        color: var(--fifth-color);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: 0.2s;
    }

    .delete:hover{
        background-color: var(--fifth-color);
        color: var(--second-color);
    }

    .answers_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .answers_block > button {
        margin-left: 1.5rem;
        width: auto;
    }

    .answers {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        flex: 1;
        padding-left: 1.5rem;
    }

    .add_answer {
        background-color: transparent;
        border: 1px solid var(--fourth-color);
        color: var(--fourth-color);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: 0.2s;
        width: 100%;
    }

    .add_answer:hover{
        background-color: var(--fourth-color);
        color: var(--second-color);
    }

    .results {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        flex: 1;
    }

    .add_question {
        background-color: transparent;
        border: 1px solid var(--sixth-color);
        color: var(--sixth-color);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: 0.2s;
        width: 100%;
        font-weight: 700;
    }

    .add_question:hover{
        background-color: var(--sixth-color);
        color: var(--second-color);
    }

    .save{
        background-color: transparent;
        color: var(--fourth-color);
        border: 1px solid var(--fourth-color);
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        cursor: pointer;
        transition: 0.2s;
        width: fit-content;
        font-weight: 800;
    }

    .save:hover{
        background-color: var(--fourth-color);
        color: var(--second-color);
    }

    .save_container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .save:disabled{
        opacity: 0.5;
        cursor: default;
    }

    .save:disabled:hover{
        background-color: transparent;
        color: var(--fourth-color);
        border: 1px solid var(--fourth-color);
    }

    .image_preview {
        height: 10rem;
    }
</style>