<script setup lang="ts">
    import { onMounted, ref } from 'vue';
    import { useRouter } from 'vue-router';

    let router = useRouter()

    interface Article {
        id: number,
        title: string,
        description: string,
        image: string
    }

    let articles = ref([] as Article[])

    let isLoading = ref(true)

    onMounted(async () => {

        isLoading.value = true

        let response = await fetch('/api/articles')

        if(!response.ok) {
            router.push('/')
            return
        }
        let json = await response.json()

        articles.value = json.articles

        isLoading.value = false
    })
</script>

<template>
    <div class="articles_container">
        <div class="loading" v-if="isLoading">
            <label>Загрузка...</label>
        </div>
        <div v-else>
            <h1 class="heading">Наши статьи</h1>
            <ul class="articles">
                <li v-for="article in articles" :key="article.id">
                    <div class="article_content" @click="router.push({path: 'article/' + article.id})">
                        <img :src="article.image" alt="article_image" class="article_image" v-if="article.image">
                        <label class="block_name text">{{article.title}}</label>
                        <p class="block_description text">{{article.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</template>

<style scoped>
    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50rem;
        max-width: 90dvw;
    }

    .text{
        margin: 0.5rem;
        margin-bottom: 0;
    }

    .articles_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .article_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        box-sizing: border-box;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        cursor: pointer;
        width: 15rem;
        height: 20rem;
        overflow: hidden;
    }

    .article_content > p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .block_description {
        opacity: 0.6;
    }

    .heading {
        text-align: center;
    }

    .article_image {
        width: 100%;
        max-height: 10rem;
    }
</style>