<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

let router = useRouter()

interface Article {
    id: number,
    title: string,
    description: string,
    content: string,
    comments: Comment[]
}

interface Comment {
    description: string,
    user: User
}

interface User {
    name: string
}

let article = ref({} as Article)

let token = localStorage.getItem('token')

let isLoading = ref(true)

let new_comment = ref('')

const getInfo = async () => {
    isLoading.value = true

    let id = router.currentRoute.value.params.id
    let response = await fetch('/api/article/' + id)

    if(!response.ok) {
        router.push('/')
        return
    }

    let json = await response.json()

    article.value = json.article

    console.log(json.article)

    isLoading.value = false
}

onMounted(async () => {
    getInfo()
})

const addComment = async () => {
    if(!token) {
        return
    }

    if(!new_comment.value) {
        return
    }

    let response = await fetch('/api/comment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify({
            description: new_comment.value,
            article_id: article.value.id
        })
    })

    if(response.ok) {
        new_comment.value = ''
        getInfo()
    }
}
</script>

<template>
    <div class="article_container">
        <div class="back_block">
            <a class="back" @click="router.go(-1)">Назад</a>
        </div>
        

        <div class="loading" v-if="isLoading">
            <label>Загрузка...</label>
        </div>  

        <div class="article" v-else>
            <h1>{{article.title}}</h1>
            <label>{{article.description}}</label>
            <div class="article_content" v-html="article.content"></div>
        </div>
        <div class="comments">
            <h3>Комментарии</h3>
            <ul class="comments_list">
                <li v-for="comment in article.comments" :key="comment.description" class="comment">
                    <label class="comment_name">{{comment.user.name}}</label>
                    <p>{{comment.description}}</p>
                </li>
            </ul>
            <div class="add_comment">
                <textarea placeholder="Добавить комментарий" v-model="new_comment" class="comment_field"></textarea>
                <button @click="addComment()" class="add" :disabled="!new_comment || !token">Добавить</button> 
            </div>
        </div>
    </div>
    
</template>

<style scoped>
    .article_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        gap: 2rem;
        margin-top: 2rem;
    }

    .back_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40rem;
        max-width: 90dvw;
        justify-content: flex-start;
    }

    .article {
        display: flex;
        flex-direction: column;
        width: 40rem;
        min-height: 50rem;
        max-width: 90dvw;
        gap: 1rem;
    }

    .article h1, .article p, .article label {
        margin: 0;
        padding: 0;
    }

    .article h1{
        font-size: 3rem;
        font-weight: 700;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .article label{
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.5;
    }

    .back {
        color: var(--fourth-color);
        font-size: 1.2rem;
        text-decoration: underline;
        cursor: pointer;
    }

    .comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
        background-color: var(--first-color);
        color: var(--second-color);
        height: auto;
        padding-bottom: 1rem;
    }

    .comments h3 {
        text-align: center;
    }

    .comment p{
        padding: 0;
        margin: 0;
    }

    .comments_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 40rem;
        max-width: 90dvw;
    }

    .comment {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--second-color);
        color: var(--first-color);
        box-sizing: border-box;
    }

    .comment_name {
        font-weight: 600;
        opacity: 0.6;
    }

    .comment_field{
        width: 100%;
        height: 8rem;
        border: 1px solid var(--fourth-color);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .add_comment {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 40rem;
        max-width: 90dvw;
    }

    .add{
        background-color: transparent;
        color: var(--fourth-color);
        border: 1px solid var(--fourth-color);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: 0.2s;
        width: fit-content;
        font-weight: 600;
    }

    .add:hover{
        background-color: var(--fourth-color);
        color: var(--second-color);
    }

    .add:disabled{
        opacity: 0.5;
        cursor: default;
    }

    .add:disabled:hover{
        background-color: transparent;
        color: var(--fourth-color);
    }
</style>