
<template>
    <div class="footer">
        <label>Все права защищены</label>
        <label>2024</label>
        <router-link to="/articles">Наши статьи</router-link>
    </div>
</template>

<style scoped>
    .footer {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--first-color);
        color: var(--second-color);
    }

    .footer label {
        opacity: 0.6;
    }

    .footer a {
        text-decoration: underline;
    }
</style>