<script setup lang="ts">
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { ref } from 'vue'

let router = useRouter()

interface Article {
    id: number,
    title: string,
    description: string,
    image: string
}

interface Test {
    id: number,
    name: string,
    description: string,
    image: string
}

let tests = ref([] as Test[])
let articles = ref([] as Article[])

let isLoading = ref(true)

onMounted(async () => {

    isLoading.value = true

    let arcticleResponse = await fetch('/api/articles')

    if(arcticleResponse.ok) {
        let json = await arcticleResponse.json()

        articles.value = json.articles
    }

    let testResponse = await fetch('/api/tests')

    if(testResponse.ok) {
        let json = await testResponse.json()
        tests.value = json.tests
    }

    isLoading.value = false

})

</script>

<template>
    <div class="main_block">
        <div class="background">
            <img src="../assets/background.jpg" alt="background">
            <img src="../assets/background2.jpg" alt="background">
            <img src="../assets/background3.jpg" alt="background">
        </div>
        <h1>Онлайн тестирование</h1>
        <label>Удобный способ проверить себя через интернет</label>
        <button @click="router.push('/tests')">Начать тестирование</button>
    </div>
    <div class="loading" v-if="isLoading">
        <label>Загрузка...</label>
    </div>
    <template v-else>
        <div class="articles_container">
            <h1>Наши статьи</h1>
            <ul class="articles">
                <li v-for="article in articles" :key="article.id">
                    <div class="article_content" @click="router.push({path: 'article/' + article.id})">
                        <img :src="article.image" alt="article_image" class="article_image" v-if="article.image">
                        <label class="block_name text">{{article.title}}</label>
                        <p class="block_description text">{{article.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tests_container">
            <h1>Тесты</h1>
            <ul class="tests">
                <li v-for="test in tests" :key="test.id">
                    <div class="test_content" @click="router.push({path: 'test/' + test.id})">
                        <img :src="test.image" alt="test_image" class="test_image" v-if="test.image">
                        <label class="block_name text">{{test.name}}</label>
                        <p class="block_description text">{{test.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </template>
    
    
</template>

<style scoped>
    .main_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 80dvh;
        padding: 5rem;
        box-sizing: border-box;
        gap: 2rem;
        color: var(--second-color);
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: grid;
        grid-template-columns: 100% 100% 100%;
        grid-template-rows: 100%;
        width: 100%;
        height: 100%;
        animation: move 10s linear infinite alternate;
    }

    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.3);
    }

    @keyframes move {
        0% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(0);
        }

        35% {
            transform: translateX(-100%);
        }

        70% {
            transform: translateX(-100%);
        }

        75% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(-200%);
        }
    }

    .main_block button {
        padding: 0.5rem 1rem;
        background-color: var(--fourth-color);
        color: var(--second-color);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
    }

    .articles, .tests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50rem;
        max-width: 90dvw;
    }

    .articles_container, .tests_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article_image, .test_image {
        width: 100%;
        max-height: 10rem;
    }

    .article_content, .test_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        box-sizing: border-box;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        cursor: pointer;
        width: 15rem;
        height: 20rem;
        overflow: hidden;
        padding-bottom: 0.8rem;
    }

    .article_content > p, .test_content > p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .block_description {
        opacity: 0.6;
    }

    .text{
        margin: 0.5rem;
        margin-bottom: 0;
    }

    .block_name{
        font-weight: 700;
        font-size: 1.2em;
    }

    .tests_container{
        margin-bottom: 1rem;
    }
</style>