<script setup lang="ts">

interface User {
    id: number
    name: string,
    email: string,
    test_results: TestResult[],
    tests: Test[]
}

interface TestResult {
    id: number,
    description: string,
    test: Test
}

interface Test {
    id: number,
    name: string,
    description: string,
    isConfirmed: boolean
}

import { onMounted, ref, computed } from 'vue'
import { useRouter } from 'vue-router';

let router = useRouter()

let isLoading = ref(true)
let isChangingUserData = ref(false)
let isChangingPassword = ref(false)

let user = ref<User>({} as User)

let new_data = ref({
    name: '',
    email: ''
})

let new_password = ref('')
let new_password_repeat = ref('')

let isPasswordMatch = computed(() => {
    return new_password.value === new_password_repeat.value
})

const getInfo = async () => {
    let response = await fetch('/api/profile', {
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })

    if(response.ok) {
        let json = await response.json()
        console.log(json)
        user.value = json
        isLoading.value = false
    } 
    else {
        router.push('/')
    }
}

const changeUserData = async () => {
    isLoading.value = true

    let response = await fetch('/api/change/userdata', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        },
        body: JSON.stringify({
            name: new_data.value.name,
            email: new_data.value.email
        })
    })

    if(response.ok) {
        getInfo()
    }

    isChangingUserData.value = false
    isLoading.value = false
}

onMounted(async () => {
    getInfo()
})

const setChanging = () => {
    isChangingUserData.value = true
    new_data.value.name = user.value.name
    new_data.value.email = user.value.email
}

const setChangingPassword = () => {
    isChangingPassword.value = true
}

const changePassword = async () => {
    if(!isPasswordMatch.value) {
        return
    }

    let body = JSON.stringify({
        password: new_password.value,
    })


    await fetch('/api/change/password', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            Authorization: 'Bearer ' + localStorage.getItem('token')
        },
        body
    })

    isChangingPassword.value = false
}

const deleteResult = async (result_id: number) => {
    let response = await fetch('/api/result/' + result_id, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })

    if(response.ok) {
        getInfo()
    }
}

const deleteTest = async (test_id: number) => {
    let response = await fetch('/api/test/' + test_id, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })

    if(response.ok) {
        getInfo()
    }
}
</script>

<template>
    <div v-if="isLoading">Загрузка...</div>
    <div class="profile_container" v-else>
        <div class="profile">
            <div class="user_data" v-if="!isChangingUserData && !isChangingPassword">
                <h1>Профиль</h1>
                <label>Логин: {{ user.name }}</label>
                <label>Электронная почта: {{ user.email }}</label>
                <div class="buttons">
                    <button class="change" @click="setChanging()">Изменить</button>
                    <button class="change" @click="setChangingPassword()">Изменить пароль</button>
                </div>
                
            </div>
            <div class="user_data" v-else-if="isChangingPassword">
                <h1>Изменение пароля</h1>
                <label>Новый пароль:</label>
                <input type="password" v-model="new_password" class="input" placeholder="Новый пароль">
                <label>Повторите новый пароль:</label>
                <input type="password" v-model="new_password_repeat" class="input" placeholder="Повторите новый пароль">
                <div class="buttons">
                    <button class="change" @click="changePassword()">Изменить</button>
                    <button class="delete" @click="isChangingPassword = false">Отмена</button>
                </div>
            </div>
            <div class="user_data" v-else>
                <h1>Редактирование профиля</h1>
                <label>Логин:</label>
                <input type="text" v-model="new_data.name" class="input">
                <label>Электронная почта:</label>
                <input type="text" v-model="new_data.email" class="input">
                <div class="buttons">
                    <button class="change" @click="changeUserData()">Изменить</button>
                    <button class="delete" @click="isChangingUserData = false">Отмена</button>
                </div>
            </div>
        </div>
        <div class="results">
            <h1 class="heading">Мои Результаты</h1>
            <ul class="results_list">
                <li v-for="result in user.test_results" class="result">
                    <div class="controlls">
                        <label class="test_name">{{ result.test.name }}</label>
                        <button class="delete" @click="deleteResult(result.id)">Удалить</button>
                    </div>
                    <p class="description">{{ result.description }}</p>
                </li>
            </ul>
        </div>
        <div class="results">
            <h1 class="heading">Мои Тесты</h1>
            <button @click="router.push('/create/test')" class="change">Создать тест</button>
            <ul class="results_list">
                <li v-for="test in user.tests" class="result">
                    <div class="test_controlls">
                        <label v-if="test.isConfirmed">Одобрен администратором</label>
                        <label v-else>Не одобрен администратором</label>
                        <div class="test_buttons">
                            <label class="test_name">{{ test.name }}</label>
                            <button class="delete" @click="deleteTest(test.id)">Удалить</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 1rem;
        margin-top: 1rem;
    }

    .profile_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 2rem;
    }

    .user_data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--tird-color);
        border-radius: 1rem;
        font-weight: 700;
    }

    .user_data p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .user_data h1{
        margin: 0;
        padding: 0;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 1rem;
    }

    .results_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 1rem;
        width: 50rem;
    }

    .result{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        width: 20rem;
    }

    .test_name {
        font-weight: 600;
        font-size: 1.2em;
    }

    .description {
        opacity: 0.8;
        padding: 0;
        margin: 0;
    }

    .controlls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .delete {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--fifth-color);
        border: 1px solid var(--fifth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 700;
        transition: 0.2s;
    }

    .delete:hover {
        background-color: var(--fifth-color);
        color: var(--second-color);
    }

    .change{
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--fourth-color);
        border: 1px solid var(--fourth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 700;
        transition: 0.2s;
    }

    .change:hover {
        background-color: var(--fourth-color);
        color: var(--second-color);
    }

    .input{
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: 1px solid var(--fourth-color);
        border-radius: 0.5rem;
        font-size: 1em;
        width: 20rem;
    }

    .test_controlls{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }

    .test_buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .heading{
        margin: 0;
    }
</style>