<script setup lang="ts">
import { onMounted, ref } from 'vue';

interface Test {
    id: number,
    name: string,
    description: string,
    image: string
}

let tests = ref([] as Test[])

let isLoading = ref(true)

onMounted(async () => {

    isLoading.value = true

    let response = await fetch('/api/tests')

    if(response.ok) {
        let json = await response.json()
        tests.value = json.tests
        isLoading.value = false
    }
})
</script>

<template>

    <div class="loading" v-if="isLoading">
        <label>Загрузка...</label>
    </div>

    <div class="tests" v-else>
        <h1>Тесты</h1>
        <ul class="tests_list">
            <li v-for="test in tests" :key="test.id" class="test_block">
                <router-link :to="'/test/' + test.id" class="test">
                    <img :src="test.image" alt="test_image" class="test_image" v-if="test.image">
                    <label class="block_name text">{{test.name}}</label>
                    <p class="block_description text">{{test.description}}</p>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<style scoped>
    .tests {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
    }

    .tests_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 50rem;
        gap: 1rem;
    }

    .test_block {
        cursor: pointer;
    }

    .test_image{
        width: 100%;
        max-height: 10rem;
    }

    .text{
        margin: 0.5rem;
        margin-bottom: 0;
    }

    .test {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        box-sizing: border-box;
        width: 15rem;
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        cursor: pointer;
        height: 20rem;
        overflow: hidden;
        padding-bottom: 0.8rem;
    }

    .test > p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .block_description {
        opacity: 0.6;
    }

    .block_name{
        font-weight: 700;
        font-size: 1.2em;
    }
</style>