<script setup lang="ts">
import { onMounted, ref} from 'vue';
import { useRouter } from 'vue-router';

let router = useRouter()

let isLoading = ref(true)

interface Test {
    name: string,
    description: string,
    questions: Question[],
    results: [{
        description: string,
        score: number
    }]
}

interface Question {
    description: string,
    answers: Answer[]
}

interface Answer {
    description: string,
    score: number,
    isSelected: boolean | null | undefined
}

interface Result {
    description: string,
    score: number
}

let test = ref({} as Test)
let isResultVisible = ref(false)
let testResult = ref({} as Result)
let isTestFinished = ref(false)

onMounted(async () => {

    isLoading.value = true

    let id = router.currentRoute.value.params.id

    if(!id) {
        router.push('/')
        return
    }

    let token = localStorage.getItem('token')

    if(!token) {
        router.push('/')
        return
    }
    
    let response = await fetch('/api/test/' + id)

    if(!response.ok) {
        router.push('/')
        return
    }

    let json = await response.json()

    test.value = json.test
    isLoading.value = false
})

const checkAnswer = (question: Question, answer: Answer) => {
    for(let variant of question.answers) {
        if(variant === answer) {
            variant.isSelected = true
        }
        else {
            variant.isSelected = false
        }
    }
}

const MakeResult = async () => {
    let sum = 0

    for(let question of test.value.questions) {
        for(let answer of question.answers) {
            if(answer.isSelected) {
                sum += answer.score
            }
        }
    }

    for(let i = sum; i > 0; i--) {
        let search_result = test.value.results.find((result) => result.score == i)

        console.log(search_result)

        if(search_result) {
            testResult.value = search_result
            break
        }
    }

    isResultVisible.value = true
    isTestFinished.value = true

}

const saveResult = async () => {
    let response = await fetch('/api/test/result', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        },
        body: JSON.stringify(testResult.value)
    })

    if(response.ok) {
        router.push('/profile')
        return
    }
}
</script>

<template>
    <div class="loading" v-if="isLoading">
        <label>Загрузка...</label>
    </div>

    <div class="test_container" v-else v-if="!isTestFinished">
        <div class="test">
            <h1 class="test_name">{{test.name}}</h1>
            <p class="test_description">{{test.description}}</p>

            <ul class="questions">
                <li v-for="question, index in test.questions" :key="question.description" class="question">
                    <h3>{{index + 1}} {{question.description}}</h3>
                    <ul class="answer">
                        <li v-for="answer in question.answers" :key="answer.description" >
                            <span>
                               <input type="radio" :name="question.description" :id=answer.description :value="answer.description" @click="checkAnswer(question, answer)"> 
                               <label>{{answer.description}}</label>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>

            <button @click="MakeResult()" class="result_button">Отправить</button>
        </div>
    </div>
    

    <div class="result_container" v-if="isResultVisible">
        <div class="result">
            <h1>{{testResult.description}}</h1>
            <span>{{ testResult.score }}</span>
            <div class="controlls">
                <button @click="router.push('/')" class="cancel">Отменить</button> 
                <button @click="saveResult()">Сохранить</button>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .test_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .test {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70rem;
        max-width: 90dvw;
        gap: 1.2rem;
    }

    .test_description {
        opacity: 0.6;
    }

    .test_name{
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        font-size: 2rem;
    }

    .question{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        padding: 1rem;
        width: 50rem;
        max-width: 90dvw;
        border-radius: 1rem;
        background-color: var(--tird-color);
    }

    .questions{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .question h3{
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }

    .answer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .result_button{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--sixth-color);
        color: var(--sixth-color);
        background-color: transparent;
        transition: 0.2s;
        cursor: pointer;
    }

    .result_button:hover{
        background-color: var(--sixth-color);
        color: var(--second-color);
    }

    .result_container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        font-weight: bold;
        background-color: var(--second-color);
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .result button {
        padding: 0.5rem 1rem;
        background-color: var(--fourth-color);
        color: var(--second-color);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
    }

    .controlls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .cancel{
        background-color: var(--fifth-color);
        color: var(--second-color);
    }
</style>