<script setup lang="ts">
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
</script>

<template>
  <div class="container">
    <Header />
    <div class="main">
      <router-view />
    </div>
    <Footer />
  </div>
  
</template>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  .main {
    flex-grow: 1;
  }
</style>
