:root{
  --first-color: #2e2e2e;
  --second-color: #fff;
  --tird-color: #ededed;
  --fourth-color: #0d6be6;
  --fifth-color: red;
  --sixth-color: #16b44b;
}

body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus{
  outline: none;
}